@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);


    --adil-color: #186061;
    --orange-color: #d75e27;
    --dark-color: #13192b;
    --light-color: #6dbdbf;
    --design-color: #186061;
    /* price */
    --bg-dark-purple: hsla(260, 62%, 11%, 1);
    --bg-russian-violet: hsla(259, 61%, 14%, 1);
    --bg-vivid-violet: hsla(273, 100%, 55%, 1);
    --accent-color: #641BFF;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
    @media (prefers-color-scheme: dark) {
        .home .profession-container .overlay {
            border-top-color: #0b061f; /* Black color for dark mode */
            border-right-color: #0b061f;
            border-bottom-color: #0b061f;
        }
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    /* background: var(--bg-color);
    color: var(--text-color); */
    background: var(--bg-color);
    color: var(--text-color);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
            background: var(--design-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
            color: var(--light-color);
    font-weight: 600;
    margin-right: auto;
}

.icon{
    width: 175px;
    height: 100px;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
            color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
            color: var(--orange-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
            background: var(--text-color);
}

.header.sticky .navbar a::before {
            background: var(--orange-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
            /* margin-top: 5px; */
}






/* addon from meeting */
section.home{
    /* Set the background image */
    background-image: url('images/calhin\ c-01\ PRINT.jpg');
    
    /* Set background size to cover the entire viewport */
    background-size: cover;
    
    /* Set background to fixed to prevent scrolling with the page */
    background-attachment: fixed;
    
    /* Add any additional styling you need */
    /* For example, you can set the background color as a fallback */
    /* background-color: #f0f0f0; */

  }
  
  /* Add other styles for your content as needed */
  .content {
    /* Example content styles */
    /* padding: 20px;
    text-align: center; */
  }









.home {
    display: flex;
    align-items: center;
}



/* addon from meeting */
.home p,h3.h3{
    /* background: white; */
    color: #d4d4d4;
}

.home .home-content {
    max-width: 44rem;
            margin-bottom: 10rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

        .content {
            position: relative;
            padding-bottom: 10rem;
        }

        .content h1 {
            position: absolute;
        }

        .content h1:nth-child(1) {
                    -webkit-text-stroke: 2px var(--light-color);
            color: transparent;
        }

        .content h1:nth-child(2) {
                    color: var(--light-color);
                    -webkit-text-stroke: 2px var(--light-color);
            animation: animate 4s ease-in-out infinite;
        }

        @keyframes animate{
            0%, 100%{
                clip-path: polygon(0 45%, 18% 42%, 36% 51%, 54% 56%, 74% 59%, 100% 48%, 100% 100%, 0% 98%);
            }
            50%{
                clip-path: polygon(0 51%, 13% 63%, 36% 62%, 59% 50%, 79% 45%, 100% 51%, 100% 100%, 0% 98%);
            }
        }

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
            border: .2rem solid var(--orange-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
            color: var(--design-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
            background: var(--design-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
            background: var(--design-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
            color: var(--design-color);
            border-color: var(--design-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--orange-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
            border-top: 50vh solid #d4d4d4;
            border-right: 384px solid #d4d4d4;
            border-bottom: 50vh solid #d4d4d4;
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    right: 40px;
    bottom: 0;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
    animation: swingImage 10s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


@keyframes swingImage {
    0% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(0deg);
    }
    20% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(10deg);
    }
    40% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(-6deg);
    }
    60% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(4deg);
    }
    80% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(-2deg);
    }
    100% {
        transform-origin: center top;
        transform: translateX(-1%) rotate(0deg);
    }
}



span {
            color: var(--design-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: auto;
    padding-bottom: 10rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
            border-top: .6rem solid var(--light-color);
            border-bottom: .6rem solid var(--light-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
            box-shadow: 0 .1rem 2rem var(--design-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
            color: var(--design-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
            color: var(--orange-color);
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}








/* pricing */
.price-comparison{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
  }

  .price-columns{
    background: white;
            color: var(--dark-color);
            box-shadow: 0 7px 30px var(--light-color);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 500px;          /* 275px */
            height: 75%;
    border-radius: 8px;
  }

  .price-columns.popular{
            height: 80%;
    position: relative;
            background: var(--design-color);
            box-shadow: 0 7px 30px var(--light-color);
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
    color: white;
  }

  .price-columns:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .price-columns:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .price-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--body-font-family);
    font-weight: bold;
  }

  .price{
            font-size: 5.5rem;
    display: flex;
  }

  .rupees-sign{
            font-size: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.25rem;
  }

  .price-month{
            font-size: 1.75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
  }

  .plan-name{
    text-transform: uppercase;
    font-size: 0.9rem;
            margin-top: 4rem;
    margin-bottom: 0;
            font-size: 2rem;
            margin-left: 7rem;
  }

  .divider{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
            margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .price-columns.popular .divider{
    background-color: rgba(255, 255, 255, .2);
  }

  .feature{
    display: flex;
    align-items: center;
    margin: 3.5rem;
    font-size: 1.5rem;
  }

  .feature img{
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
  }

  .feature.inactive{
    color: #999;
    text-decoration-line: line-through;
  }

  .most-popular{
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font-family);

  }

  .cta{
    border: none;
            background-color: var(--dark-color);
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
  }

  .price-columns.popular .cta{
    background-color: white;
            color: var(--design-color);
            margin-top: 6rem;
  }

  .cta:hover, .cta:focus {
    transform: scale(1.1);
  }

  .cta:is(:hover,:focus-visible) {
            background-color: var(--design-color);
  }

 .price-columns.popular .cta:is(:hover,:focus-visible) {
            background-color: var(--dark-color);
    color: white;
  }








.portfolio {
    min-height: auto;
    padding-bottom: 10rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
            background: linear-gradient(rgba(0, 0, 0, .1), var(--light-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #333;
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
            border-top: .8rem solid var(--design-color);
            border-bottom: .8rem solid var(--design-color);
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
            outline: .5rem solid var(--light-color);
}

.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
            color: var(--design-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
            background: var(--orange-color);
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
            background: var(--dark-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
            border: .2rem solid var(--orange-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container .profession-box {
        right: -10%;
    }

    .home .profession-container .overlay {
        right: -6%;
    }

    .home-img img {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .home .profession-container .profession-box {
        right: -15%;
    }

    .home-img img {
        max-width: 420px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -20%;
    }

    .home .profession-container .overlay {
        right: -12%;
    }

    .home-img img {
        max-width: 400px;
    }




            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }
}

@media (max-width: 991px) {

    .navbar a:nth-child(1) {
                color: var(--orange-color);
    }

    .navbar a.active::before {
                background: var(--orange-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -35%;
    }

    .home .profession-container .overlay {
        right: -30%;
    }

    .home-img img {
        display: none;
    }

    .footer {
        padding: 2rem 3%;
    }





            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) {
                color: var(--orange-color);
    }

    .home .profession-container .profession-box {
        right: -50%;
    }

    .home .profession-container .overlay {
        right: -43%;
    }



            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }
}

@media (max-width: 879px) {
    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }




            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }
        }

@media (max-width: 780px) {
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }




            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
                color: var(--orange-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
                margin-top: 10%;

    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 450px;
        left: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -325px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
                margin-top: 75px;
                
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }

            .content h1{
                margin-left: 75px;

            }
            



            /* Media query for responsive design-addon for bg image */
                section.home {
                    /* Adjust background properties for mobile devices */
                    /* background-attachment: scroll; Allow scrolling on mobile */
                    background-position: center; /* Center the background image */
                }


                /* added to remove excess bottom of photo */
                section{
                    min-height: 90vh;
                }

}


@media (max-width :670px){

    /* Media query for responsive design-addon for bg image */
    section.home {
        /* Adjust background properties for mobile devices */
        /* background-attachment: scroll; Allow scrolling on mobile */
        background-position: center; /* Center the background image */
    }


    /* added to remove excess bottom of photo */
    section{
        min-height: 90vh;
    }
}

@media (max-width: 580px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(50px, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -325px);
    }

    .home .profession-container .overlay {
        top: 80rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }




            /* Media query for responsive design-addon for bg image */
            section.home {
                /* Adjust background properties for mobile devices */
                /* background-attachment: scroll; Allow scrolling on mobile */
                background-position: center; /* Center the background image */
            }


            /* added to remove excess bottom of photo */
            section{
                min-height: 90vh;
            }

}

@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }

}

@media (max-width: 315px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}
img {
    border-radius: 20px;
}









/* nigga code */
.card{
    width: 100%;
}
.card-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    margin-bottom: 0;
  }
  
  @media(min-width: 300px) and (max-width: 720px) {
        section.maincard{
            margin-top: 100%;
            margin-bottom: 100%;
        }

        .card-parent{
          flex-direction: column;
          gap: 2rem;
        }
        .price-columns {
          width: 100%;
          border-radius: 5rem;
        }
        .price-columns:first-child{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        .price-columns:last-child{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        
    }